aiohttp
aiosignal
altair
annotated-types
anyio
attrs
backoff
bcrypt
beautifulsoup4
blinker
botocore
cachetools
certifi
cffi
charset-normalizer
click
cryptography
dataclasses
deprecation
distro
et-xmlfile
extra-streamlit-components
fastapi
Flask
frozenlist
fuzzywuzzy
gitdb
GitPython
google-api-core
google-auth
google-cloud-appengine-logging
google-cloud-audit-log
google-cloud-core
google-cloud-logging
google-cloud-secret-manager
google-cloud-storage
google-crc32c
google-resumable-media
googleapis-common-protos
gotrue
gql
graphql-core
grpc-google-iam-v1
grpcio
grpcio-status
gunicorn
h11
html5lib
httpcore
httpx
idna
importlib-metadata
itsdangerous
Jinja2
jmespath
jsonschema
jsonschema-specifications
Levenshtein
markdown-it-py
MarkupSafe
mdurl
multidict
noloco
numpy
openpyxl
packaging
pandas
pathvalidate
patsy
pdfminer.six
pdfplumber
pillow
plotly
plotly-express
postgrest
proto-plus
protobuf
pyairtable
pyarrow
pyasn1
pyasn1-modules
pycparser
pydantic
pydantic_core
pydash
pydeck
Pygments
PyJWT
Pympler
python-dateutil
python-dotenv
python-Levenshtein
python-multipart
pytz
PyYAML
rapidfuzz
realtime
referencing
requests
requests-toolbelt
rich
rpds-py
rsa
scipy
semver
six
smmap
sniffio
soupsieve
starlette
statsmodels
storage3
streamlit
streamlit-authenticator
StrEnum
supabase
supafunc
tabula
tabula-py
tenacity
toml
toolz
tornado
typing_extensions
tzlocal
urllib3
uvicorn
validators
Wand
webencodings
websockets
Werkzeug
XlsxWriter
yarl
zipp
setuptools>=70.0.0 # not directly required, pinned by Snyk to avoid a vulnerability
