.project-card {
    margin-bottom: 5px;
    cursor: pointer;
    background-color: #fff;
    transition: background-color 0.3s ease;
}

.project-card:hover {
    background-color: #f5f5f5;
}

.project-card:active {
    background-color: #e0e0e0;
}
.truncateField {
    font-size: 0.8em;
    width: 80%;
    overflow: clip;
    text-overflow: ellipsis;
    white-space: nowrap;
    
  }

.table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .table th, .table td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #f2f2f2;
    color: black;
  }
  .table .detailsRow th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: transparent ;
    color: black;
    font-weight: normal;
    font-style: italic;
  }

.max-width-250 {
    width: 250px;
}
  .button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
  }

  .editable-cell {
    position: relative;
  }
  
  .editable-cell .edit-icon {
    visibility: hidden;
  }
  
  .editable-cell:hover .edit-icon {
    visibility: visible;
  }
