altair
annotated-types
anyio
attrs
bcrypt
blinker
cachetools
certifi
chardet
charset-normalizer
click
contourpy
cycler
dataclasses
decorator
deprecation
entrypoints
exceptiongroup
extra-streamlit-components
fonttools
gitdb
GitPython
google-api-core
google-auth
google-cloud-secret-manager
googleapis-common-protos
gotrue
grpc-google-iam-v1
grpcio
grpcio-status
h11
httpcore
httpx
idna
importlib-metadata
importlib-resources
iniconfig
Jinja2
jsonschema
jsonschema-specifications
kiwisolver
markdown-it-py
MarkupSafe
matplotlib
mdurl
numpy
packaging
pandas
patsy
Pillow
plotly
plotly-express
pluggy
postgrest
postgrest-py
proto-plus
protobuf
py
pyarrow
pyasn1
pyasn1-modules
pydantic
pydantic_core
pydeck
Pygments
PyJWT
Pympler
pyparsing
pytest
python-dateutil
pytz
PyYAML
realtime
realtime-py
referencing
requests
rfc3986
rich
rpds-py
rsa
scipy
six
smmap
sniffio
st-btn-select
statsmodels
storage3
streamlit
streamlit-authenticator
StrEnum
supabase
supabase-py
supafunc
tenacity
toml
toolz
tornado
typing_extensions
tzdata
tzlocal
urllib3
validators
websockets
wordcloud
zipp
